
section {
  width: 100%;
}

/* Pattern styles */
.left-half {
  float: left;
  width: 20%;
  margin: 0;
  margin-top: 10px;;
}
.right-half {
  float: left;
  margin-left: 50px;
  width: 75%;
}

.meal-item{

    width: auto;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 1px #ccc;
    display: inline-block;
    border: 1px solid gray;
    
  }

  .icons-block{

    float: right;
  }

  .icon-edit{
      margin: 10px;
      color: rgb(241, 228, 228);
      cursor: pointer;
  }

  .icon-trash{
    color: rgb(179, 79, 79);
    cursor: pointer;
}